.container{
  padding: 20px;
}

.box{
  display: flex;
  justify-content: center;
  box-shadow: -4px 10px 35px -1px rgba(158, 158, 158, 0.75);
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.box-content{
  width: 75vmax;
}

.divider{
  background-color: rgb(148, 148, 148);
  width: 1px;
  margin: 0 30px;
}

.sticky-button{
  position: fixed;
  top: 0;
}

.textarea{
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}